<section>
    <div class="bg-login custom-bg">
        <form class="form-signin1" [formGroup]="importForm">
            <!-- <h1 class="mb-3" style="padding-top: 50px;"></h1> -->
            <h1 class="mb-3" style="padding-top: 10px;"></h1>
            <div class="loginbox">
                <!-- <h2 class="table-f-color">TALLY APP</h2>
                <div class="pull-right pr-2">
                    <a class="hand back-color" routerLinkActive="active" routerLink="/logout"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div> -->
                
                <!-- <h3 class="table-f-color" style="font-family: 'Cedarville Cursive'">TALLY APP</h3>
                <div class="row" style="justify-content: right;padding-right: 1rem !important;margin-top: -35px;">
                    <img  style="width: 22px;height: 22px;" routerLinkActive="active" routerLink="/logout" src="assets/css/images/logout3-removebg.png" class="image logo">
                </div> -->

                <div  style="margin-bottom: -8px;display: flex;align-items: center; justify-content: space-between;  ">
                    <i style="color: #5126ec;margin-bottom: 4px;" routerLinkActive="active" routerLink="/selectOption" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                    <h4  class="custom-title" style="justify-content: center;font-family: 'Cedarville Cursive'">TALLY APP</h4>
                    <div></div>
                </div>

                <div class="pt-4">
                    <!-- <div class="col1 mx-1"> -->
                    <div class="col1">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div class="password-container">
                                            <!-- placeholder="Lorry No / SCN / Tally No" -->
                                            <input style="font-family:Open sans-serif" type="text" [(ngModel)]="searchValue" class="form-control custom-form" placeholder="Search..."  [ngModelOptions]="{standalone: true}">
                                            <i class="fa fa-search" id="eye"></i>
                                        </div>                                    </div>
                                </div>  
                                <div class="common-table" style="max-width: 530px;overflow: auto;"> 
                                <table class="table" style="border: 1px solid #dee2e6;font-size: 13px;">
                                        <thead style="background: orange;">
                                        <tr>
                                            <th scope="col">
                                                <span>Date</span>
                                            </th>
                                            <th scope="col">
                                                <span>Tally No</span>
                                            </th>
                                            <th scope="col">
                                                <span>Lorry No</span>
                                            </th>
                                            <th scope="col">
                                                <span>Actions</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-f-color">
                                        <tr *ngFor="let row of data">
                                            <td>{{row.date}}</td>
                                            <td>{{row.tallyNo}}</td>
                                            <td>{{row.lorryNo}}</td>
                                            <td>
                                                <span class="pr-3 hand" data-toggle="tooltip" data-placement="top" title="Edit"><i (click)="edit()" class="fa fa-pencil" aria-hidden="true"></i></span>
                                                <span class="hand" data-toggle="tooltip" data-placement="top" title="Approve"><i (click)="approve(row.id)" class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                       
                                        
                                        </tbody>
                                    </table> 
                                </div> 
                                    <!-- <div class="row mt-5" style="justify-content: center;">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary" style="width: 100%;" routerLinkActive="active" routerLink="/addWpImport">Back</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary" style="width: 100%;" routerLinkActive="active" routerLink="/logout">Logout</button>
                                        </div>
                                    </div> -->

                                    <!-- <div class="row mt-2" style="justify-content: center;">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary" style="width: 100%;" (click)="add()">Add</button>
                                        </div>
                                    </div>     -->

                                    <!-- <div class="row mt-3" style="text-align: center;">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="back()">Back</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary" style="width: 100%;" (click)="add()">Add</button>
                                        </div>
                                    </div> -->
                                   
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
